
.card{
    text-align: center;
    display: inline-block;
    transform: scale(0.8);
    position: relative;
}
.card--outer{
    width: 178px;
    height: 229px;
    border-radius: 4px;
    background-color: rgba(246, 70, 70, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.219);
}

.card--inner{
    width: 168px;
    height: 219px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-backdrop{
    width: 178px;
    height: 229px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s ease-in;
    overflow: hidden;
    border-radius: 4px;
}

.card:hover  .card-backdrop{
    opacity: 1;
    transform: scale(1);
}